* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-size: 100%;
    background-color: #F6F6F6;
    width: 100%;
    min-width: 1600px;
    max-width: 1920px
}

#logo-header {
    margin-top: 28px;
    margin-left: 36px;
}

.container {
    grid-template-columns: 1fr 6fr;
    display: grid;
    column-gap: 32px;
}

.rightside {
    display: flex;
    flex-direction: column;
    margin: 32px 36px 0 0;
}

#center {
    border-radius: 16px;
    background: linear-gradient(89deg, #F99621 15%, #FAC847 100%);
    /* margin: 32px 48px 28px 32px; */
    margin-bottom: 28px;
}

#center h1 {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 2em;
    color: white;
}

#center h2 {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 1.5em;
    color: white;
    padding-top: 8px;
}

#center p {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1em;
    color: #FFEBDB;
    max-width: 790px;
    padding-top: 20px;
}

.textwrap {
    padding: 28px 0px 28px 36px;
}

.small-recommend {
    display: flex;
    column-gap: 26px;
}

.rec {
    border-radius: 16px;
    background: #FFF;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.16);
    padding: 22px 28px 24px 26px;
}

.rec-h3 {
    gap: 24px;
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
}

.rec h3 {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 1.25em;
    color: #DF822D;
}

.rec ul {
    list-style: none;
}

.rec-items {
    display: flex;
    flex-wrap: wrap;
    column-gap: 26px;
    row-gap: 12px;
    padding-top: 22px;
}

.rec-items a, .more {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1em;
    color: #666;
}

.rec-items a:hover, .titlewrap a:hover {
    color: #DF822D;
}

.more {
    text-decoration: underline;
}

.mostpop, .big-recommend {
    margin-top: 36px;
}

.titlewrap {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

h2 {
    color: #333;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.book-list {
    margin-top: 24px;
    margin-bottom: 32px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    row-gap: 30px;
    column-gap: 28px;
    justify-content: space-between;
} 

.book {
    display: grid;
    text-align: center;
    align-items: center;
    border-radius: 16px;
    background: #FFF;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.16);
    /* height: 280px; */
}

.book:hover {
    transform: translateY(-6px);
    box-shadow: 0px 6px 12px 2px rgb(0 0 0 / 16%);
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}

hr {
    border: none;
    height: 1px;
    background-color: #D9D9D9;
}

.book img {
    height: 190px;
    border-radius: 16px 16px 0 0;
}

.book-list p {
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1em;
    color: #333;
    padding: 16px 12px;
}

.footer {
    align-self: flex-end;
    padding-top: 8px;
}

.disclaimer {
    width: 80%;
}

#newfooter {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 0.8em;
    text-align: center;
    background-color: #46484A;
    color: #D9D9D9;
    padding: 8px 0;
    margin-top: 16px;
}

#newfooter a {
    color: #D9D9D9;
    text-decoration: underline;
}

#navleft {
    margin-left: 56px;
    margin-top: 48px;
}

#navleft ul {
    list-style: none;
}

.navgap {
    height: 1px;
    background-color: #d6d6d6;
    margin: 16px 0;
}