* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-size: 100%;
    background-color: #F6F6F6;
    width: 100%;
    min-width: 1512px;
    max-width: 1920px
}

#logo-header {
    margin-top: 32px;
    margin-left: 36px;
}

.container {
    grid-template-columns: 1fr 6fr;
    display: grid;
    column-gap: 32px;
}

.rightside {
    display: flex;
    flex-direction: column;
    margin: 32px 36px 0 0;
}

/* banner */

#center {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    column-gap: 48px;
    border-radius: 16px;
    background: linear-gradient(89deg, #F99621 15%, #FAC847 100%);
    margin-bottom: 36px;
}

#center h1 {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 2em;
    color: white;
}

#center h2 {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 1.5em;
    color: white;
    padding-top: 8px;
}

#center p {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1em;
    color: #FFEBDB;
    max-width: 790px;
    padding-top: 20px;
}

.textwrap {
    padding: 28px 0px 28px 36px;
}

/* small card */

.small-recommend {
    display: flex;
    column-gap: 26px;
}

.rec {
    border-radius: 16px;
    background: #FFF;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.16);
    padding: 22px 28px 24px 26px;
}

.rec-h3 {
    gap: 24px;
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
}

.rec h3 {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 1.25em;
    color: #DF822D;
}

.rec ul {
    list-style: none;
}

.rec-items {
    display: flex;
    flex-wrap: wrap;
    column-gap: 26px;
    row-gap: 12px;
    padding-top: 22px;
}

.rec-items a, .more {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1em;
    color: #666;
}

.rec-items a:hover, .titlewrap a:hover {
    color: #DF822D;
}

.more {
    text-decoration: underline;
}

/* main area */

.mostpop, .big-recommend {
    margin-top: 36px;
}

.titlewrap {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

h2 {
    color: #333;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.book-list {
    margin-top: 24px;
    /* margin-bottom: 32px; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    row-gap: 30px;
    column-gap: 28px;
    justify-content: space-between;
}

/* template card */

.book {
    display: grid;
    text-align: center;
    align-items: center;
    border-radius: 16px;
    background: #FFF;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.16);
    /* height: 280px; */
}

.book:hover {
    transform: translateY(-6px);
    box-shadow: 0px 6px 12px 2px rgb(0 0 0 / 16%);
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}

hr {
    border: none;
    height: 1px;
    background-color: #D9D9D9;
}

.book img {
    height: 190px;
    border-radius: 16px 16px 0 0;
}

.book-list p {
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1em;
    color: #333;
    padding: 16px 12px;
}

/* footer */

.footer {
    align-self: flex-end;
    padding-top: 8px;
}

.disclaimer {
    width: 80%;
}

#newfooter {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 0.8em;
    text-align: center;
    background-color: #46484A;
    color: #D9D9D9;
    padding: 8px 0;
    margin-top: 16px;
}

#newfooter a {
    color: #D9D9D9;
    text-decoration: underline;
}

/* sidebar below */

#navleft {
    margin: 16px 0 0 12px;
    padding-left: 24px;
    font-family: Helvetica, Arial, sans-serif;
    color: #333;
}

.nav-first-title, .nav-second-title {
    display: flex;
    align-items: center;
    margin-top: 4px;
    padding: 16px 16px 16px 24px;
    border-radius: 8px;
    cursor: pointer;
}

.nav-first-title.actived {
    background-color: white !important;
    font-weight: bold;
    color: black;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.16);
}

.nav-first-title:hover {
    background-color: #E9E9E9;
}

.nav-first-title.actived:hover {
    background-color: white;
}

.nav-icon {
    padding-right: 12px;
}

.nav-title-text {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.125em;
    color: black;
}

#navleft ul {
    list-style: none;
}

.navgap {
    height: 1px;
    background-color: #d6d6d6;
    margin: 8px 0;
}

.nav-second-title {
    justify-content: space-between;
}

.nav-small-title {
    display: flex;
}

.wrapper {
    background: transparent;
    overflow: hidden;
    transition: height 200ms ease;
}

.wrapper a {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1em;
    color: #333;
}

.list li {
    margin: 4px 8px 0 33px;
    padding: 12px 26px 12px 24px;
    border-radius: 8px;
    cursor: pointer;
}

.foldicon {
    transition: transform 200ms ease;
    overflow: visible;
    transform-origin: center;
}

.foldicon.flipped {
    transform: rotate(180deg);
}

.list li.selected {
    /* margin-top: 4px; */
    margin-right: 8px;
    background-color: white;
    font-weight: bold;
    color: black;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.16);
    padding: 12px 26px 12px 24px;
}

.list li.selected:hover {
    background-color: white;
}

/* searchbar */
#cse-search-box {
    position: relative;
    display: flex;
    align-items: center;
    padding-top: 28px;
    padding-right: 36px;
    justify-content: flex-end;
}

.searchTerm {
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.16);
    border: none;
    border-right: none;
    padding: 14px 120px 14px 24px;
    border-radius: 8px 8px 8px 8px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1em;
    color: #666;
}

.searchTerm:focus {
    color: #ca6407;
}

.searchButton {
    right: 36px;
    position: absolute;
    margin-right: 4px;
    padding: 10px 24px 12px 24px;
    border: none;
    background: #F99621;
    text-align: center;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 0.875em;
}

.searchButton:hover {
    background: #FFA723;
}

.searchButton:active {
    background: rgb(249 135 0);
}

/* large */
@media screen and (max-width: 1512px) {

    body {
        min-width: 1280px;
        max-width: 1512px
    }

    .container {
        column-gap: 28px;
    }

    #logo-header {
        margin-top: 28px;
        margin-left: 32px;
    }

    #navleft {
        padding-left: 20px;
    }

    .nav-title-text {
        font-size: 1em;
    }

    .wrapper a {
        font-size: 0.875em;
    }

    .rightside {
        margin: 28px 32px 0 0;
    }

    #center {
        margin-bottom: 32px;
    }

    #center h1 {
        font-size: 1.75em;
    }

    #center h2 {
        font-size: 1.125em;
    }

    #center p {
        font-size: 0.875em;
    }

    .searchTerm {
        padding: 10px 120px 10px 16px;
        font-size: 0.875em;
    }

    .searchButton {
        margin-right: 3px;
        padding: 7px 24px 8px 24px;
    }

    .small-recommend {
        grid-template-columns: 1fr 1fr;
        display: grid;
        gap: 24px;
    }

    .book-list {
        margin-top: 16px;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        gap: 24px;
    }

    .mostpop, .big-recommend {
        margin-top: 32px;
    }

    .footer {
        margin-top: 16px;
    }
}

/* mid */
@media screen and (max-width: 1280px) {

    body {
        min-width: 1133px;
        max-width: 1280px
    }

}

/* tablet */
@media screen and (max-width: 1133px) {

    body {
        min-width: 768px;
        max-width: 1133px
    }

}

/* mobile */
@media screen and (max-width: 768px) {

    body {
        min-width: 375px;
        max-width: 768px
    }

}